Source: cfsync-proxy
Section: net
Priority: optional
Maintainer: Florian Hines <syn@ronin.io>
Uploaders: Florian Hines <syn@ronin.io>
Standards-Version: 3.9.1
Build-Depends: debhelper (>= 7.0.50~)
Homepage: https://github.com/pandemicsyn/cfsync-proxy
Vcs-Git: git://github.com/pandemicsyn/cfsync-proxy.git
Vcs-Browser: https://github.com/pandemicsyn/cfsync-proxy

Package: cfsync-proxy
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser
Description: A thing
